/* Global styles */
html {
  font-family: 'Proxima Nova', sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  background-color: #191b1e;
}

section {
  background-color: #1f242d;
  height: 93vh;
  scroll-margin-top: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

section:nth-child(1) {
  height: 100vh;
}

h1 {
  background-image: linear-gradient(90deg, rgb(25, 181, 209) 36%, rgb(0, 248, 248) 100%);
  background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 75px;
  font-weight: 900;
  margin: 0;
}

h2 {
  text-align: center;
  color:rgb(0, 248, 248);
  font-size: 40px;
}

h3 {
  font-size: 20px;
  color: rgb(0, 153, 255);
  text-align: center;
  margin: 20px 0 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #212330;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 10px;
  top: 0;
  width: 100%;
  z-index: 1;
}

li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin: 0 15px;
  letter-spacing: 1px;
}

header a:hover {
  color: rgb(0, 248, 248);
}

.header-links {
  display: flex;
  margin: 1em;
}

.active-link {
  color: rgb(0, 248, 248);
  position: relative;
}

.active-link::after {
  background-color: rgb(0, 248, 248);
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 100%;
  height: 3px;
  transform: translateX(-50%);
}

/* Home */
.home {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)), 
    url("../img/wallpaperbetter.com_1920x1080.jpg")  
  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 0.35em;
}

.job-position {
  color: rgb(213, 61, 252);
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}

hr {
  width: 15%;
  border: 2px solid #0fd6c7;
}

.location {
  color: #f0e7e7;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}

.btn {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: normal;
}

.skills {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0;
}

.social-media-link {
  display: inline-block;
  background-color: #36dd68;
  color: #000000;
  font-weight: bold;
  padding: 8px;
  border-radius: 50%;
}

.social-media-link:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

/* About Me */
.about-me {
  padding: 0 70px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0 375px;
}

.about-me-wrapper {
  display: flex;
}

.about-me-img-container,
.about-me-info {
  width: 50%;
}

.about-me-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-img {
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-left: 20px;
}

.about-me-info {
  padding: 0 15px;
}

.about-me-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-me-info-wrapper p {
  font-family: monospace, sans-serif;
  line-height: 27px;
  text-align: left;
  font-weight: 400;
  margin-top: 0;
}

/* Proyects */
.proyects {
  padding: 0 70px;
}

.proyects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 100%;
}

.proyects-wrapper {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.proyect {
  background-color: #fff;
  border-radius: 10px;
  width: 310px;
  height: 380px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 16px;
}

.proyect img {
  border-radius: 10px 10px 0 0;
  height: 170px;
  width: 100%;
  object-fit: cover;
}

.proyect p {
  color: #000;
  font-family: monospace, sans-serif;
  font-size: 15px;
  margin: 0;
}

.proyect-links {
  margin-top: 10px;
}

.proyect-link {
  background-color: #36e46a;
  border-radius: 15px;
  color: #000;
  font-family: monospace, sans-serif;
  text-decoration: none;
  padding: 5px 15px;
  margin-right: 5px;
}

.proyect-link:hover {
  background-color: #55bd74;
  transition: background-color 200ms ease-in-out;
}

/* Contact */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input,
textarea {
  border: none;
  font-family: monospace, sans-serif;
  padding: 10px;
  width: 100%;
}

textarea {
  resize: none;
}

.hidden {
  display: none;
}

.send-button {
  background-color: #3083ff;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: monospace, sans-serif;
  font-size: 18px;
  padding: 8px 25px;
  width: fit-content;
}

/* Scroll top button*/
.scroll-top {
  background-color: #30C5FF;
  border-radius: 50%;
  color: #000;
  text-decoration: none;
  padding: 0.85rem;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.scroll-top:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}
